
<!DOCTYPE html>
<html>
    <head>

        <style>
            body {
                background-color: rgb(255, 229, 240);
                margin-top: 30px;
            }     
        </style>

    </head>


    <body>
        <h1 style="color: rgb(246, 177, 188);
                   font-size: 50px;
                   margin-left: 30px;
                   ">
                 Welcome to the Mechatronics Homepage 
        </h1>
        <a  href = "{% url 'launch' %}"
            style=  "
                    padding: 15px;
                    background-color: rgb(255, 255, 255);
                    color: pink;
                    border-radius: 5px;
                    text-decoration: none;
                    font-weight: bold;
                    display: inline-block;
                    margin-top: 10px;
                    margin-left: 30px;
                    font-size: 20px;
            ">
                    Launch
        </a>
        <a  href = "{% url 'stop' %}"
            style=  "
                    padding: 15px;
                    background-color: rgb(255, 255, 255);
                    color: pink;
                    border-radius: 5px;
                    text-decoration: none;
                    font-weight: bold;
                    display: inline-block;
                    margin-top: 10px;
                    margin-left: 30px;
                    font-size: 20px;
            ">
                    Stop
        </a>
        <a  href = "{% url 'view_telemetry' %}"
            style=  "
                    padding: 15px;
                    background-color: rgb(255, 255, 255);
                    color: pink;
                    border-radius: 5px;
                    text-decoration: none;
                    font-weight: bold;
                    display: inline-block;
                    margin-top: 10px;
                    margin-left: 30px;
                    font-size: 20px;
            ">
                    View Telemetry
        </a>
    </body>


</html>